<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Responsive Coming soon Template">
    <meta name="keywords" content="Coming soon template, Bootstrap template, Coming soon, Responsive coming soon Template, Under Construction, countdown , Mailchimp, Youtube Video">
    <meta name="author" content="traivan98">

    <title>شکار معما</title>

    <!-- favicon linke -->
    <link rel="icon" type="image/png" href="/firstpage/img/favicon.png" />
    <!-- ===============    Bootstrap core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css" media="all" />
</head>
<body>
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Survey</p>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4>Name :<%=secret.name%></h4>
                </div>
                <div class="caption-full">
                    <h4>Token :<%=secret.token%></h4>
                </div>
                <div class="caption-full">
                    <h4>Value :<%=secret.value%></h4>
                </div>
                <div class="caption-full">
                    <h4>A :<%=secret.A%></h4>
                </div>
                <div class="caption-full">
                    <h4>C :<%=secret.C%></h4>
                </div>
                <div class="caption-full">
                    <h4>M :<%=secret.M%></h4>
                </div>
            </div>
        </div>
    </div>
    <form style="display: inline" class="pull-right" action="/admin/secrets/<%=secret._id%>?_method=DELETE" method="POST">
        <button class="btn btn-xs btn-danger">DELETE</button>
    </form>
    <a href="/admin/secrets/<%=secret._id%>/edit" >
        <button class="btn btn-xs btn-danger">EDIT</button>
    </a>

</body>