<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>XP Games</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src='https://www.google.com/recaptcha/api.js?hl=fa'></script>
    <style>
        @font-face {
            font-family: IRANSansWeb;
            src: url(../../font/IRANSansWeb.ttf);
        }
        body{
            font-family: IRANSansWeb;
        }
    </style>
</head>
<body>
<nav role="navigation" style="background-color: rgba(1,162,166,1);">
    <div class="nav-wrapper container">
        <a id="logo-container" href="http://acm.ut.ac.ir" class="brand-logo" style="color:white; font-family: Roboto;">ACM</a>
        <a id="logo-container" href="/" class="brand-logo center" style="text-align: center; color:white; font-family: Roboto;">XP Games</a>
        <%if(!currentUser){%>
        <ul class="right hide-on-med-and-down">
            <li><a style="color:white;" href="/register">ثبت نام</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a style="color:white;" href="/login">ورود</a></li>
        </ul>
        <%}else{%>
        <ul class="right hide-on-med-and-down">
            <li><a style="color:white;" href="#"><%=currentUser.name%></a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a style="color:white;" href="/logout">خروج</a></li>
        </ul>
        <%}%>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<br>
<br>
<div class="card container" align="center" style="max-width: 50%;position: relative;left: 25%; width: auto;height: auto; ">
    <table class="table-responsive  bordered striped">
        <thead>
            <tr>
                <th scope="col" style="border-right: solid thick rgba(65, 69, 116, 0.28);" class="col s2 center-align">
                    رتبه
                </th>
                <th scope="col" style="border-right: solid thick rgba(65, 69, 116, 0.28);" class="col s6 center-align">
                    نام تیم
                </th>
                <th scope="col"  class="col s4 center-align">
                    امتیاز
                </th>
            </tr>
        </thead>

        <%groups.forEach(function (group,index) {%>
        <thead>
            <td style="border-right: solid thick rgba(65, 69, 116, 0.28);" class="col s2 center-align"><%=index+1%></td>
            <td style="border-right: solid thick rgba(65, 69, 116, 0.28);" class="col s6 center-align"><%=group.name%></td>
            <td style="" class="col s4 center-align"><%=group.competition.score%></td>
        </thead>
        <%})%>


    </table>
    <!--<ul class="col collection with-header">-->
        <!--<div class="col s6">-->
        <!--<li class="collection-header"><h4>رده بندی</h4></li>-->
        <!--<%groups.forEach(function (group,index) {%>-->
        <!--<li class="collection-item" style="font-size: xx-large"><span style="text-align: left" class="waves"> <%=index+1%>:</span> <%=group.name%><%=group.competition.score%></li>-->
        <!--<%})%>-->
        <!--</div>-->
        <!--<div class="col s6">-->
            <!--<li class="collection-header"><h4>رده بندی</h4></li>-->
            <!--<%groups.forEach(function (group,index) {%>-->
            <!--<li class="collection-item" style="font-size: xx-large"><span style="text-align: left" class="waves"> <%=index+1%>:</span> <%=group.name%><%=group.competition.score%></li>-->
            <!--<%})%>-->
        <!--</div>-->
    <!--</ul>-->
</div>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
<script>
    $(document).ready(function(){
        $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    });
</script>
</body>
</html>
